<div class="container">
  <div class="row">
    <h2>URL Shortener</h2>
    <div>
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="picture">
    </div>
    <div class="input-group mb-3" style="width: 800px;">
      <span class="input-group-text" id="basic-addon3">input your URL:</span>
      <input type="text" class="form-control" placeholder="https://example.com/users/..." id="basic-url" aria-describedby="basic-addon3">
    </div>
    <div>
      <button class="btn btn-outline-primary" type="submit">Shorten</button>
    </div>
  </div>
</div>